.success-container {
    padding: 10px 20px;
    width: fit-content;
    height: fit-content;
    background-color: rgb(140, 240, 198);
    border: 1px solid rgb(106, 167, 129);
    color: rgb(105, 103, 103);
    position: absolute;
    border-radius: 0.25rem;
}
