.upload-container {
    a {
        text-decoration: none;
        color: black;
        padding: 5px 15px;
        background-color: rgb(222, 245, 248);
        border-radius: 0.25rem;
    }
}

.go-back {
    margin: 1em 0 0 4em;
}

.upload-form {
    margin: auto;
}
